div{
    width: 200px;
    height: 200px;
    margin: 200px auto;
    background-color: #607d8b;
    border-bottom: 5px solid black;
    position: relative;
}

div::before{
    content: "Elzero";
    color: white;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

div::after{
    content: "";
    background-color: black;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 30px;
    left: 27px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(45deg) translate(-50% , -50%);
}