div{
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    background-color: #eee;
    line-height: 4;
    font-weight: bold;
}

div:empty{
    background-color: red;
}
