.parent{
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 15px;
    background-color: #eee;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}
.parent div{
    background-color: rgb(7, 121, 131);
    color: white;
    width: 30px;
    height: 20%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent .two{
    width: 40%;
    align-self: flex-start;
}
