p{
    background-color: #eee;
    width: 350px;
    height: 20px;
    padding: 10px;
    margin: 20px auto;
    position: relative;
    border-right: 5px solid red;
    counter-increment: num;
}

p::before{
    content: counter(num);
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    width: 30px;
    height: 20px;
    padding: 10px;
    left: -47px;
    top: 0px;
}