.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px 20px;
}

.grid div{
    background-color: #403f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}