div{
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 20px auto;
    background-color: #eee;
    border-radius: 50%;
    color: orangered;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
    box-shadow: 13px 3px 0 0 orangered,
                -13px 3px 0 0 rgb(5, 162, 247)
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}