.one{
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin: 20px;
    font-size: 50px;
}

.two{
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
    margin: 20px;
    font-size: 50px;
}

.three{
    font-family: 'Jomhuria', cursive;
    text-transform: capitalize;
    margin: 20px;
    font-size: 50px;
}