div{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 5px solid blue;
    border-bottom-color: transparent;
    position: relative;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

div::before{
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    top: -12px;
    right: -12px;
    border: 5px solid orange;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

div::after{
    content: "";
    width: 75px;
    height: 75px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid black;
    border-bottom-color: transparent;
    top: -18px;
    right: -17px;
    animation-name: circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

@keyframes circle{
    from{
        transform: rotate(0turn);
    }

    to{
        transform: rotate(1turn);
    }
}

div:hover,
div:hover::before,
div:hover::after{
    animation-play-state: running;
}