*{
    perspective: 600px;
}

div{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-color: #eee;
    position: relative;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    transform-style: preserve-3d;
    transition: 1s 0s;
}

div::before{
    content: "Front";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fa3664;
    display: flex;
    justify-content: center;
    align-items: center;
}

div::after{
    content: "Back";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1692fc;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

div:hover{
    transform: rotateY(-180deg);
}





/* --------------------------------------------------------- */

section{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-color: #eee;
    position: relative;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    transform-style: preserve-3d;
    transition: 1s 0s;
}

section::before{
    content: "Front";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fa3664;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::after{
    content: "Back";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1692fc;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

section:hover{
    transform: rotateX(-180deg);
}