.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(6 , 1fr);
    column-gap: 20px;
}

.grid div{
    background-color: #2196f3;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.one{
    display: grid;
    grid-column: 1/9;
    order: 8;
}
.two{
    display: grid;
    grid-column: 1/7;
    order: 2;
}
.three{
    display: grid;
    grid-column: 7/9;
    order: 3;
}
.four{
    display: grid;
    grid-column: 1/4;
    order: 4;
}
.five{
    display: grid;
    grid-column: 4/9;
    grid-row: 3/6;
    order: 5;
}
.six{
    display: grid;
    grid-column: 1/4;
    order: 6;
}
.seven{
    display: grid;
    grid-column: 1/4;
    order: 7;
}
.eight{
    display: grid;
    grid-column: 1/9;
    order: 1;
}