*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 600px;
}

div{
    width: 400px;
    height: 70px;
    /*margin: 100px auto;*/
    background-color: #ccc;
    font-size: 30px;
}